@import "~bootstrap/scss/bootstrap";
@import './colors.scss';

body {
  background-color: $lightBlue;
}

.dropdown-menu-2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropDown {
  display: none;
}

.main-btn {
  background-color: $lightBlue;
  color: $darkBlue;
  position: absolute;
  top: -45px;
  left: 85%;
}
.main-btn:hover {
  background-color: rgb(37, 37, 126);
  color: white;
} 

.main-btn-2 {
  background-color: $lightBlue;
  position: absolute;
  top: -8px;
  left: 85%;
}

.topBar {
  width: 100%;
  height: 60px;
  background-color: $darkBlue;
  margin-bottom: 20px;
}

.headerBrand {
  text-align: center;
  color: white;
  margin: auto;
}